<%= form_for @thirdpartcode, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :business_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:business_id, Business.all.map{|u| [u.name,u.id]})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:supplier_id, Supplier.all.map{|u| [u.name,u.id]})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :specification_id, :class => 'control-label' %>
    <div class="controls">
      <%= product_select("thirdpartcode") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :external_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :external_code, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            thirdpartcodes_path, :class => 'btn btn-default' %>
 
<% end %>
