<%- model_class = Thirdpartcode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:business_id) %>:</strong></dt>
  <dd><%= @thirdpartcode.business_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier_id) %>:</strong></dt>
  <dd><%= Supplier.find(@thirdpartcode.supplier_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specification_id) %>:</strong></dt>
  <dd><%= Specification.find(@thirdpartcode.specification_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:external_code) %>:</strong></dt>
  <dd><%= @thirdpartcode.external_code %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              thirdpartcodes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_thirdpartcode_path(@thirdpartcode), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              thirdpartcode_path(@thirdpartcode),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
