<%= form_for ([ @purchase, @purchase_detail]), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:supplier_id, Supplier.accessible_by(current_ability).map{|u| [u.name,u.id]})%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :specification_id, :class => 'control-label' %>
    <div class="controls">
      <%= product_select("purchase_detail") %>
     
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qg_period, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qg_period, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :batch_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :batch_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sum, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sum, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class => 'text_field' %>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if can? :index, PurchaseDetail %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              purchase_purchase_details_path(@purchase), :class => 'btn btn-default' %>
  <% end %>
<% end %>
