<%= form_for ([ @purchase, @purchase_detail]), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:supplier_id, Supplier.accessible_by(current_ability).map{|u| [u.name,u.id]},:include_blank => "请选择")%>
      <%= hidden_field_tag('pd_sid',@pdid) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :specification_id, :class => 'control-label' %>
    <div class="controls">
      <%= pd_product_select_autocom("purchase_detail",@purchase.id) %>
     
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expiration_date, :class => 'control-label' %>
    <div class="controls">

      <%= f.text_field  :expiration_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
 
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class => 'text_field' %>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if can? :index, PurchaseDetail %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              purchase_purchase_details_path(@purchase), :class => 'btn btn-default' %>
  <% end %>
<% end %>
