<%- model_class = PurchaseDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @purchase_detail.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:purchase_id) %>:</strong></dt>
  <dd><%=Purchase.find(@purchase_detail.purchase_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier_id) %>:</strong></dt>
  <dd><%= Supplier.find(@purchase_detail.supplier_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specification_id) %>:</strong></dt>
  <dd><%=Specification.find( @purchase_detail.specification_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qg_period) %>:</strong></dt>
  <dd><%= @purchase_detail.qg_period %></dd>
  <dt><strong><%= model_class.human_attribute_name(:batch_no) %>:</strong></dt>
  <dd><%= @purchase_detail.batch_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @purchase_detail.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sum) %>:</strong></dt>
  <dd><%= @purchase_detail.sum %></dd>

  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @purchase_detail.desc %></dd>


  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @purchase_detail.status_name %></dd>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              purchase_purchase_details_path(@purchase), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_purchase_purchase_detail_path(@purchase,@purchase_detail), :class => 'btn btn-default' %>


<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              purchase_purchase_detail_path(@purchase,@purchase_detail),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
