<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
  <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>
<%- model_class = OrderDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (B2B拆单)'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
  </div>

</div>
  <%= hidden_field_tag('dtlcnt',@dtl_cnt )%>
  <%= hidden_field_tag('actcnt',@act_cnt )%>
<div>
   <%= label_tag 'name', '扫描69码:', class: 'control-group' %><%= text_field_tag 'b2bos_sixnine_code', nil, class: "controls"%>
   
</div>

<div id="keydtl">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:specification_id) %></th>
      <th>69码</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th>已扫描总数量</th>
      <th>当前扫描数量</th>
    </tr>
  </thead>
  <tbody>
    <%= hidden_field_tag('keyco',@keyco )%>
    <% @key_details_hash.each do |key,value| %>
      <%= content_tag(:tr,content_tag(:td, Specification.find(key[0]).all_name )+
        content_tag(:td, Specification.find(key[0]).sixnine_code )+
        content_tag(:td, text_field_tag("detailam_#{Specification.find(key[0]).sixnine_code}", value, disabled: true) )+
        content_tag(:td, text_field_tag("scanallam_#{Specification.find(key[0]).sixnine_code}", @scanall[key].nil? ? 0 : @scanall[key], disabled: true) )+
        content_tag(:td, text_field_tag("scancuram_#{Specification.find(key[0]).sixnine_code}", "0", disabled: true) ),id: "tr_#{Specification.find(key[0]).sixnine_code}" ) %>

    <% end %>
  </tbody>
</table>
<input type="button" id="splitorder" value="包装订单">
</div>
<%= label_tag 'scanname', '拆单明细:', class: 'control-group' %>
<div id="splitorders">
  <%= render :partial => 'keyclientorders/keydetails_forms' %>
</div>
<%= label_tag 'split_tracking_number', '面单号:', class: 'control-group' %><%= text_field_tag 'so_tra_num', nil, class: "controls"%><input type="button" id="setsptnumber" value="设置面单号" >


<script language="javascript" type="text/javascript"> 

$(document).ready(function(){

  $("#b2bos_sixnine_code").keypress(function(e) {  
      var e = e || window.event; 
      if(e.keyCode == 13 ){
        $.ajax({
          type : 'GET',
          url : '/keyclientorders/b2bfind69code/',
          data: { sixninecode: $('#b2bos_sixnine_code').val(),keyco: $('#keyco').val() },
          dataType : 'script'
          });
        return false;
      }    
      
    })

  $("#splitorder").click(function(){
    $.ajax({
          type : 'GET',
          url : '/keyclientorders/b2bsplitanorder/',
          data:  $('#keydtl input[type=\'text\'],#keydtl input[type=\'hidden\']'),
          dataType : 'script'
          });
    return false;
  })

  $("#setsptnumber").click(function(){
    $.ajax({
          type : 'GET',
          url : '/keyclientorders/b2bsettrackingnumber/',
          data: { split_tracking_num: $('#so_tra_num').val(),keyco: $('#keyco').val(),split_order: $('#splitorderid').val() },
          dataType : 'script'
          });
    return false;
  })

})

  

function splitordertracking_preview(){
    LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
    LODOP.SET_PRINT_PAGESIZE(1,"230mm","127mm","");
    LODOP.PRINT_INITA("-5.5mm","-3mm","232mm","130.7mm","");
    <% if !@order.nil? %>
    LODOP.ADD_PRINT_TEXT("41mm","86.8mm","25.1mm","6.6mm",'<%= @order.province %><%= @order.city %>');
    LODOP.ADD_PRINT_TEXT("49.5mm","36.5mm","26.5mm","5.3mm",'<%= @order.customer_name %>');
    LODOP.ADD_PRINT_TEXT("48.7mm","82.8mm","27.8mm","6.6mm",'<%= @order.customer_phone %>');
    LODOP.ADD_PRINT_TEXT("62.7mm","44.2mm","65.4mm","5.3mm",'<%= @order.customer_address %>');
    LODOP.ADD_PRINT_TEXT("41mm","25.9mm","4mm","5.3mm",'<%= @order.customer_postcode.nil? ? "" : @order.customer_postcode[0] %>');
    LODOP.ADD_PRINT_TEXT("41mm","33.1mm","4.5mm","5.3mm",'<%= @order.customer_postcode.nil? ? "" : @order.customer_postcode[1] %>');
    LODOP.ADD_PRINT_TEXT("41mm","39.7mm","4.8mm","5.3mm",'<%= @order.customer_postcode.nil? ? "" : @order.customer_postcode[2] %>');
    LODOP.ADD_PRINT_TEXT("41mm","46.3mm","3.4mm","5.3mm",'<%= @order.customer_postcode.nil? ? "" : @order.customer_postcode[3] %>');
    LODOP.ADD_PRINT_TEXT("41mm","52.4mm","4.8mm","5.3mm",'<%= @order.customer_postcode.nil? ? "" : @order.customer_postcode[4] %>');
    LODOP.ADD_PRINT_TEXT("41mm","59mm","4mm","5.3mm",'<%= @order.customer_postcode.nil? ? "" : @order.customer_postcode[5] %>');
    LODOP.ADD_PRINT_TEXT("75.7mm","83.1mm","27.8mm","5.3mm",'<%= @order.business.phone %>');
    LODOP.ADD_PRINT_TEXT("83.1mm","44.4mm","64.8mm","5.3mm",'<%= @order.business.name %>');
    LODOP.ADD_PRINT_TEXT("89.2mm","45.8mm","65.1mm","5.3mm",'<%= @order.business.name %>');
    LODOP.ADD_PRINT_TEXT("96.6mm","37.3mm","71.4mm","5.3mm","邮政客服电话：4008215071");
    LODOP.ADD_PRINT_TEXT("104mm","133.4mm","23.8mm","6.6mm",'<%= @order.business.name %>');
    content='';
      <% @order.order_details.each do |j| %>
        content=content+'<%= j.name %>  数量：<%= j.amount %>\n'
      <% end %>
    LODOP.ADD_PRINT_TEXT("46.3mm","114.6mm","42.3mm","34.4mm",content);
    LODOP.ADD_PRINT_TEXT("46.6mm","161.4mm","33.1mm","6.6mm",CurentTime(0,1));
    LODOP.ADD_PRINT_TEXT("59.5mm","162.7mm","33.1mm","5.3mm",'<%= current_user.unit.name %>');
    LODOP.ADD_PRINT_TEXT("75.9mm","171.4mm","21.4mm","5.3mm",'<%= @order.total_weight %>');
    LODOP.ADD_PRINT_TEXT("31.8mm","161.7mm","37.3mm","5.3mm",'<%= @order.no %>');
    <% end %>
    LODOP.PREVIEW();
  };

</script>





