<%- model_class = OrderDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (包装出库)'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
  </div>

</div>

<div>
   <%= label_tag 'name', '扫描69码:', class: 'control-group' %><%= text_field_tag 'b2bos_sixnine_code', nil, class: "controls"%>
   
</div>

<div id="keydtl">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:specification_id) %></th>
      <th>69码</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th>已扫描总数量</th>
      <th>当前扫描数量</th>
    </tr>
  </thead>
  <tbody>
    <%= hidden_field_tag('keyco',@keyco )%>
    <% @key_details_hash.each do |key,value| %>
      <%= content_tag(:tr,content_tag(:td, Specification.find(key[0]).all_name )+
        content_tag(:td, Specification.find(key[0]).sixnine_code )+
        content_tag(:td, text_field_tag("detailam_#{Specification.find(key[0]).sixnine_code}", value, disabled: true) )+
        content_tag(:td, text_field_tag("scanallam_#{Specification.find(key[0]).sixnine_code}", "0", disabled: true) )+
        content_tag(:td, text_field_tag("scancuram_#{Specification.find(key[0]).sixnine_code}", "0", disabled: true) ),id: "tr_#{Specification.find(key[0]).sixnine_code}" ) %>

    <% end %>
  </tbody>
</table>
<input type="button" id="splitorder" value="包装订单">
</div>
<%= label_tag 'scanname', '包装扫描明细:', class: 'control-group' %>
<div id="splitorders">
  <%= render :partial => 'keyclientorders/keydetails_forms' %>
</div>





