<%= form_for @shelf, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :area, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:area_id, Area.where(storage_id: session[:current_storage].id).map{|u| [u.name,u.id]})%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :area_length, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_length, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :area_width, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_width, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :area_height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_height, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shelf_row, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shelf_row, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shelf_column, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shelf_column, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_volume, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_volume, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc, :class => 'text_field' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            shelves_path, :class => 'btn btn-default' %>
 
<% end %>
