<%- model_class = Goodstype -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:gtno) %>:</strong></dt>
  <dd><%= @goodstype.gtno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @goodstype.name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              unit_goodstypes_path(@unit), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unit_goodstype_path(@unit,@goodstype), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unit_goodstype_path(@unit,@goodstype),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
