<%= form_for ([ @keyclientorder, @keyclientorderdetail]), :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :specification_id, :class => 'control-label' %>
    <div class="controls">
      <%= product_select("keyclientorderdetail") %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :batch_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :batch_no, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:supplier_id, Supplier.accessible_by(current_ability).map{|u| [u.name,u.id]})%>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            keyclientorder_keyclientorderdetails_path(@keyclientorder), :class => 'btn btn-default' %>
 
<% end %>
