<%- model_class = StockLog -%>

<div>
  <table id="stock_logs" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>批量出库单明细</th>
        <th>货架</th>
        <th>库存数量</th>
        <th>出库数量</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>确认时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_logs.each do |stock_log| %>
      <tr id="stock_logs_id_<%=stock_log.id%>">
        <td><%= hidden_field_tag("stock_logs[][id]", stock_log.id, id: "stock_logs_id_#{stock_log.id}") %></td>
        <td>
        <% msid =  stock_log.parent.manual_stock_details.where(supplier: stock_log.supplier, specification: stock_log.specification).first.id %>
        <% msname =  stock_log.parent.manual_stock_details.where(supplier: stock_log.supplier, specification: stock_log.specification).first.name %>
          <%= select_tag("stock_logs[][msid]", options_for_select(stock_log.parent.manual_stock_details.where(status: "waiting").map{|u| ["#{u.name}_#{u.specification.name}",u.id]}, msid), id: "stock_logs_msid_#{stock_log.id}", style: "display: none;") <<
          content_tag(:p, "#{msname}_#{stock_log.specification.name}", {id: "stock_logs_msid_#{stock_log.id}"}) %>
        </td>
        <td>
        
        <%= hidden_field_tag("stock_logs[][#{stock_log.stock_id}]", stock_log.stock_id, id: "stock_logs_stid_#{stock_log.id}") %>
        <%= select_tag("stock_logs[][#{stock_log.stock_id}]", "<option value=''>未选择</option>".html_safe,  id: "stock_logs_mshelfid_#{stock_log.id}", style: "display: none;") <<
        content_tag(:p, "#{stock_log.shelf.shelf_code}(批次:#{stock_log.stock.batch_no},库存:#{stock_log.stock.actual_amount})", {id: "stock_logs_mshelfid_#{stock_log.id}"}) %>
        </td>
        <td>
          <%= content_tag(:p, stock_log.stock.actual_amount, {id: "stock_logs_actamount_#{stock_log.id}"})%>
        </td>
        <td>
          <%= text_field_tag("stock_logs[][amount]", stock_log.amount, id: "stock_logs_mamount_#{stock_log.id}", style: "display: none; width: 40px;") <<
          if stock_log.amount == 0 || stock_log.amount > stock_log.stock.actual_amount
            content_tag(:p, stock_log.amount, {id: "stock_logs_mamount_#{stock_log.id}", style: 'background-color: red;'})
          else
            content_tag(:p, stock_log.amount, {id: "stock_logs_mamount_#{stock_log.id}"})
          end %>
        </td>
        <td id="stock_logs_status_<%=stock_log.id%>"><%=  StockLog::STATUS_SHOW[stock_log.status.to_sym] %></td>
        <td>
          <%= stock_log.created_at.to_s(:db) %>
        </td>
        <td>
          <%= stock_log.checked_at.try :to_s, :db %>
        </td>
        <td><%=link_to t('.destroy', :default => t("helpers.links.destroy")), "javascript:void(0);", onclick: 'destroy(this)', id: "stock_logs_deletelink_#{stock_log.id}", :class => 'btn btn-xs btn-danger' if can? :destroy, stock_log%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


  <div style="float:right">
    <% if can? :new, Stock %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                   "javascript:void(0)", onclick: "manual_stock_add()",
                    :class => 'btn btn-primary' %>
    <% end %>
  </div>


<div>
  <% stocklogs = [] %>
  <p>出库货物清单</p>
    <% if @manual_stock%>
      <% stocklogs = @manual_stock.stock_logs%>
    <% else %>
      <% stocklogs = @keyclientorder.stock_logs%>
    <% end %>
    
<table class="table table-striped">
  <thead>
    <tr>
      <th>商户</th>
      <th>产品规格</th>
      <th>供应商</th>
      <th>数量</th>
    </tr>
  </thead>
  <tbody>
    <% stocklogs.each do |stocklog| %>
      <% if stocklog.amount == 0 %>
        <% next %>
      <% end %>
      <tr>
        <td><%= stocklog.business.name %></td>
        <td><%= stocklog.specification.name %></td>
        <td><%= stocklog.supplier.blank? ? "" : stocklog.supplier.name %></td>
        <td><%= stocklog.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

