<%- model_class = StockLog -%>

<div>
  <table id="stock_logs" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>电商出库单</th>
        <th>货架</th>
        <th>库存数量</th>
        <th>出库数量</th>
        <% if @keyclientorder.storage.need_pick %>
        <th>拣货区货架</th>
        <% end %>
        <th>状态</th>
        <th>创建时间</th>
        <th>确认时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_logs.each do |stock_log| %>
      <tr id="stock_logs_id_<%=stock_log.id%>">
        <td>
        <%= hidden_field_tag("stock_logs[][id]", stock_log.id, id: "stock_logs_id_#{stock_log.id}") %>
        <%= hidden_field_tag("stock_logs[][stock_log.parent.id]", stock_log.parent.id, id: "stock_logs_kcoid_#{stock_log.id}") %></td>
        <td>
        <% ksid = stock_log.specification_id.to_s + "_" + stock_log.business_id.to_s + "_" + stock_log.supplier_id.to_s %>
        <% somaps = OrderDetail.find_by_sql ["select d.specification_id,o.business_id,d.supplier_id,sum(d.amount) from order_details d,orders o,keyclientorders k,stock_logs s where d.order_id=o.id and s.parent_id=k.id and k.id=o.keyclientorder_id and o.status!=? and s.id=? group by d.specification_id,o.business_id,d.supplier_id","checked", stock_log.id] %>
        <%= select_tag("stock_logs[][ksid]", options_for_select(somaps.map{|u| ["#{u.specification.name}_#{u.supplier_id}",u.specification_id.to_s + "_" + u.business_id.to_s + "_" + u.supplier_id.to_s]}, ksid), id: "stock_logs_ksid_#{stock_log.id}", style: "display: none;") <<
          content_tag(:p, "#{stock_log.specification.name}", {id: "stock_logs_ksid_#{stock_log.id}"}) %>
        </td>
        <td>
        <%= hidden_field_tag("stock_logs[][#{stock_log.stock_id}]", stock_log.stock_id, id: "stock_logs_kstid_#{stock_log.id}") %>
        <%= select_tag("stock_logs[][stock_log.stock_id]", "<option value=''>未选择</option>".html_safe, id: "stock_logs_kshelfid_#{stock_log.id}", style: "display: none;") <<
        content_tag(:p, stock_log.shelf.shelf_code, {id: "stock_logs_kshelfid_#{stock_log.id}"}) %>
        </td>
        <td>
          <%= content_tag(:p, (stock_log.stock.blank? ? 0 : stock_log.stock.actual_amount), {id: "stock_logs_actamount_#{stock_log.id}"})%>
        </td>
        <td>
          <%= text_field_tag("stock_logs[][amount]", stock_log.amount, id: "stock_logs_kamount_#{stock_log.id}", style: "display: none; width: 40px;") <<
          if stock_log.amount == 0 || stock_log.amount > (stock_log.stock.blank? ? 0 : stock_log.stock.actual_amount)
            content_tag(:p, stock_log.amount, {id: "stock_logs_kamount_#{stock_log.id}", style: 'background-color: red;'})
          else
            content_tag(:p, stock_log.amount, {id: "stock_logs_kamount_#{stock_log.id}"})
          end %>
        </td>
        <% if @keyclientorder.storage.need_pick %>
        <td>
          <%= text_field_tag( "stock_logs[][pick_shelf]", stock_log.pick_in.shelf.shelf_code, id: "stock_logs_pickshelf_#{stock_log.id}",'data-autocomplete' => "/shelves/autocomplete_pick_shelf_code" ) %>
          <%= hidden_field_tag("stock_logs[][pick_shelf]", stock_log.pick_in.shelf.id, id: "stock_logs_pickshelf_#{stock_log.id}") %>
        </td>

        <% end %>
        <td id="stock_logs_status_<%=stock_log.id%>"><%=  StockLog::STATUS_SHOW[stock_log.status.to_sym] %></td>
        <td>
          <%= stock_log.created_at.to_s(:db) %>
        </td>
        <td>
          <%= stock_log.checked_at.try :to_s, :db %>
        </td>
        <td><%=link_to t('.destroy', :default => t("helpers.links.destroy")), "javascript:void(0);", onclick: 'destroy(this)', id: "stock_logs_deletelink_#{stock_log.id}", :class => 'btn btn-xs btn-danger' if can? :destroy, stock_log%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


  <div style="float:right">
    <% if can? :new, Stock %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                   "javascript:void(0)", onclick: "keyclientorder_stock_add()",
                    :class => 'btn btn-primary' %>
    <% end %>
  </div>


<div>
  <% stocklogs = [] %>
  <p>出库货物清单</p>
    <% if @manual_stock%>
      <% stocklogs = @manual_stock.stock_logs%>
    <% else %>
      <% if @keyclientorder.storage.need_pick %>
        <% stocklogs = @keyclientorder.stock_logs.where(" operation_type='out' ")%>
      <% else %>
        <% stocklogs = @keyclientorder.stock_logs%>
      <% end %>
    <% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>商户</th>
      <th>产品规格</th>
      <th>供应商</th>
      <th>数量</th>
    </tr>
  </thead>
  <tbody>
    <% stocklogs.each do |stocklog| %>
      <% if stocklog.amount == 0 %>
        <% next %>
      <% end %>
      <tr>
        <td><%= stocklog.business.name %></td>
        <td><%= stocklog.specification.name %></td>
        <td><%= stocklog.supplier.blank? ? "" : stocklog.supplier.name %></td>
        <td><%= stocklog.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


