<%= form_for @logistic, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :print_format, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :print_format, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_getnum, :class => 'control-label' %> 
    <div class="controls">
      <%=f.check_box :is_getnum,:class =>'check_box'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_default, :class => 'control-label' %> 
    <div class="controls">
      <%=f.check_box :is_default,:class =>'check_box'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :storage_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :storage_id, Storage.all.collect {|g| [g.name,g.id]}, {include_blank: ''}, :class => 'control-label' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :param_val1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :param_val1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :param_val2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :param_val2, :class => 'text_field' %>
    </div>
  </div>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            logistics_path, :class => 'btn btn-default' %>
 
<% end %>
