<!DOCTYPE HTML>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag :defaults %>
      <%= javascript_include_tag "application" %>

<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>

  <script language="javascript" type="text/javascript">
  function webhottracking_preview() {

  	LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
    LODOP.SET_LICENSES("上海市邮政公司信息技术局","452677782688188907989821905623","","");
    <% @ids.each do |id| %>
    <% eorder=Order.find(id) %>
    //LODOP.NewPage();
    <% if @transport_type=='gnxb'%>
      var func = "hot_" + '<%= @logistic.print_format %>';
      window[func]();
      //hot_gnxb();
    <% elsif @transport_type=='gjxbp' %>
      LODOP.PRINT_INITA("0.8mm","1.1mm","232.8mm","160.1mm","tracking");
LODOP.SET_PRINT_PAGESIZE(1,1000,1500,"hgjxbp");
LODOP.ADD_PRINT_IMAGE(1,7,92,34,"<img border='0' src='<%=asset_path("gjlogo.png")%>' />");
LODOP.ADD_PRINT_TEXT(5,179,145,20,"Small Packet BY AIR");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_BARCODE(158,146,206,39,"128A",'<%= eorder.tracking_number %>');
LODOP.ADD_PRINT_RECT(0,5,363,379,0,1);
LODOP.ADD_PRINT_TEXT(31,6,41,20,"From:");
LODOP.ADD_PRINT_TEXT(51,6,135,41,'<%= eorder.send_name %>  <%= eorder.send_province %><%= eorder.send_city %><%= eorder.send_addr %>');
LODOP.ADD_PRINT_TEXT(92,6,61,20,"Phone:");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(111,6,130,20,'<%= eorder.send_mobile %>');
LODOP.ADD_PRINT_LINE(32,142,31,367,0,1);
LODOP.ADD_PRINT_LINE(32,141,152,142,0,1);
LODOP.ADD_PRINT_LINE(132,7,131,142,0,1);
LODOP.ADD_PRINT_TEXT(132,7,43,20,"编号:");
LODOP.ADD_PRINT_TEXT(133,48,91,20,'<%= eorder.business_order_id %>');
LODOP.ADD_PRINT_TEXT(33,143,70,20,"Ship To:");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(54,143,222,57,'<%= eorder.province.nil? ? eorder.local_province : eorder.province %><%= eorder.city.nil? ? eorder.local_city : eorder.city %><%= eorder.customer_address.nil? ? eorder.local_addr : eorder.customer_address %><%= eorder.customer_postcode %>');
LODOP.ADD_PRINT_TEXT(111,142,54,20,"Phone:");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(132,143,224,20,'<%= eorder.customer_phone %>');
LODOP.ADD_PRINT_LINE(200,7,199,367,0,1);
LODOP.ADD_PRINT_TEXT(222,30,175,20,"Description of Contents");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_LINE(243,7,242,367,0,1);
LODOP.ADD_PRINT_TEXT(222,247,32,20,"kg.");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(222,290,76,20,"Val(US $)");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
content='';
wg='';
pr='';
<%= allwg = 0.00 %>
<% allpr = 0.00 %>
<% eorder.order_details.each do |j| %>
<% allwg = allwg + (j.weight.nil? ? j.specification.weight : j.weight) * j.amount %>
<% allpr = allpr + (j.price.nil? ? j.specification.price : j.price) * j.amount %>
content=content+'<%= j.specification.commodity.english_name.nil? ? j.name : j.specification.commodity.english_name %>\n'
wg=wg+'<%= j.weight.nil? ? j.specification.weight/1000 : j.weight/1000 %>\n'
pr=pr+'<%= j.price.nil? ? j.specification.price : j.price %>\n'
<% end %>
LODOP.ADD_PRINT_LINE(295,7,294,367,0,1);
LODOP.ADD_PRINT_LINE(317,6,316,366,0,1);
LODOP.ADD_PRINT_TEXT(243,7,221,50,content);
LODOP.ADD_PRINT_TEXT(295,12,352,20,"Total Gross Weight (Kg)               <%= allwg/1000%>      <%= allpr%>");
LODOP.ADD_PRINT_LINE(221,288,296,289,0,1);
LODOP.ADD_PRINT_LINE(222,234,297,235,0,1);
LODOP.ADD_PRINT_TEXT(317,11,354,37,"I certify that the particulars given in this declaration are correct and this item does not contain any dangerous articles prohibited by legislation or by postal or customers regulations.");
LODOP.SET_PRINT_STYLEA(0,"FontSize",7);
LODOP.ADD_PRINT_LINE(155,6,154,366,0,1);
LODOP.ADD_PRINT_TEXT(160,11,120,31,"untracked");
LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_LINE(1,325,31,326,0,1);
LODOP.ADD_PRINT_TEXT(354,12,350,20,"Sender's signiture& Data Signed:            已检视 CN22");
LODOP.SET_PRINT_STYLEA(0,"FontSize",7);
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_IMAGE(1,99,80,25,"<img border='0' src='<%=asset_path("gjwish.png")%>' />");
LODOP.ADD_PRINT_TEXT(243,236,52,50,wg);
LODOP.ADD_PRINT_TEXT(243,292,71,50,pr);
LODOP.ADD_PRINT_TEXT(33,215,145,20,'<%= eorder.customer_name %>');
LODOP.ADD_PRINT_TEXT(4,327,37,25,'<%= eorder.country_code %>');
LODOP.SET_PRINT_STYLEA(0,"FontSize",10);
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(201,6,100,20,"退件单位:");
LODOP.ADD_PRINT_TEXT(201,105,259,20,'<%= eorder.storage.return_unit %>');
LODOP.ADD_PRINT_LINE(221,7,222,367,0,1);

  //LODOP.PRINT_DESIGN();
  //LODOP.PREVIEW();  
  LODOP.PRINT(); 
    <% elsif @transport_type=='gjxbg' %>
      LODOP.PRINT_INITA("0.8mm","1.1mm","232.8mm","160.1mm","tracking");
LODOP.SET_PRINT_PAGESIZE(1,1000,1500,"hgjxbg");
LODOP.ADD_PRINT_IMAGE(4,0,92,30,"<img border='0' src='<%=asset_path("gjlogo.png")%>' />");
LODOP.ADD_PRINT_TEXT(36,5,130,20,"Small Packet BY AIR");
LODOP.SET_PRINT_STYLEA(0,"FontSize",7);
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_BARCODE(16,184,184,45,"128A",'<%= eorder.tracking_number %>');
LODOP.ADD_PRINT_RECT(0,0,364,362,0,1);
LODOP.ADD_PRINT_RECT(55,55,36,25,0,1);
LODOP.ADD_PRINT_TEXT(56,56,33,22,'<%= eorder.country_code %>');
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(74,2,41,20,"From:");
LODOP.ADD_PRINT_TEXT(94,2,145,33,'<%= eorder.send_name %>  <%= eorder.send_province %><%= eorder.send_city %><%= eorder.send_addr %>');
LODOP.ADD_PRINT_TEXT(127,3,61,20,"Phone:");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(146,2,146,20,'<%= eorder.send_mobile %>');
LODOP.ADD_PRINT_LINE(71,151,70,361,0,1);
LODOP.ADD_PRINT_LINE(71,150,186,151,0,1);
LODOP.ADD_PRINT_LINE(167,1,166,151,0,1);
LODOP.ADD_PRINT_TEXT(167,2,43,20,"编号:");
LODOP.ADD_PRINT_TEXT(167,47,101,20,'<%= eorder.business_order_id %>');
LODOP.ADD_PRINT_TEXT(72,153,70,20,"Ship To:");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(94,151,210,52,'<%= eorder.province.nil? ? eorder.local_province : eorder.province %><%= eorder.city.nil? ? eorder.local_city : eorder.city %><%= eorder.customer_address.nil? ? eorder.local_addr : eorder.customer_address %>');
LODOP.ADD_PRINT_TEXT(146,153,54,20,"Phone:");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(167,151,209,20,'<%= eorder.customer_phone %>');
LODOP.ADD_PRINT_LINE(189,2,188,362,0,1);
LODOP.ADD_PRINT_TEXT(210,11,180,20,"Description of Contents");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_LINE(231,2,230,362,0,1);
LODOP.ADD_PRINT_TEXT(210,244,32,20,"kg.");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(210,289,74,20,"Val(US $)");
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_LINE(278,2,277,362,0,1);
LODOP.ADD_PRINT_LINE(299,2,298,362,0,1);
content='';
wg='';
pr='';
<%= allwg = 0.00 %>
<% allpr = 0.00 %>
<% eorder.order_details.each do |j| %>
<% allwg = allwg + (j.weight.nil? ? j.specification.weight : j.weight) * j.amount %>
<% allpr = allpr + (j.price.nil? ? j.specification.price : j.price) * j.amount %>
content=content+'<%= j.specification.commodity.english_name.nil? ? j.name : j.specification.commodity.english_name %>\n'
wg=wg+'<%= j.weight.nil? ? j.specification.weight/1000 : j.weight/1000 %>\n'
pr=pr+'<%= j.price.nil? ? j.specification.price : j.price %>\n'
<% end %>
LODOP.ADD_PRINT_TEXT(232,3,226,45,content);
LODOP.ADD_PRINT_TEXT(278,3,356,20,"Total Gross Weight (Kg)               <%= allwg/1000 %>      <%= allpr%>");
LODOP.ADD_PRINT_LINE(211,282,276,283,0,1);
LODOP.ADD_PRINT_LINE(211,232,276,233,0,1);
LODOP.ADD_PRINT_TEXT(300,2,358,38,"I certify that the particulars given in this declaration are correct and this item does not contain any dangerous articles prohibited by legislation or by postal or customers regulations.");
LODOP.SET_PRINT_STYLEA(0,"FontSize",7);
LODOP.ADD_PRINT_TEXT(338,3,355,22,"Sender's signiture& Data Signed:              已检视 CN22");
LODOP.SET_PRINT_STYLEA(0,"FontSize",7);
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_IMAGE(4,92,80,30,"<img border='0' src='<%=asset_path("gjwish.png")%>' />");
LODOP.ADD_PRINT_TEXT(231,235,45,45,wg);
LODOP.ADD_PRINT_TEXT(231,285,75,45,pr);
LODOP.ADD_PRINT_TEXT(72,224,130,20,'<%= eorder.customer_name %>');
LODOP.ADD_PRINT_TEXT(34,149,28,30,"R");
LODOP.SET_PRINT_STYLEA(0,"FontSize",17);
LODOP.SET_PRINT_STYLEA(0,"Bold",1);
LODOP.ADD_PRINT_TEXT(189,1,100,20,"退件单位:");
LODOP.ADD_PRINT_TEXT(189,99,259,20,'<%= eorder.storage.return_unit %>');
LODOP.ADD_PRINT_LINE(209,2,210,362,0,1);

  //LODOP.PRINT_DESIGN();
  //LODOP.PREVIEW();  
  LODOP.PRINT();
    <% elsif @transport_type=='ems' %>
LODOP.PRINT_INITA("0mm","0mm","230.2mm","127.3mm","tracking");
LODOP.SET_PRINT_PAGESIZE(1,"230mm","127mm","tracking");
LODOP.ADD_PRINT_TEXT("25.7mm","29.6mm","27.8mm","5.3mm",'<%= eorder.business.name %>');
LODOP.ADD_PRINT_TEXT("25.4mm","72.2mm","31.8mm","5.3mm",'<%= eorder.business.phone %>');
LODOP.ADD_PRINT_TEXT("33.6mm","33.3mm","80.4mm","10.6mm",'<%= eorder.business.name %>');
LODOP.ADD_PRINT_TEXT("46.6mm","87.3mm","4.8mm","5.3mm","2");
LODOP.ADD_PRINT_TEXT("46.6mm","92.3mm","4.5mm","5.3mm","0");
LODOP.ADD_PRINT_TEXT("46.6mm","97.9mm","4mm","5.3mm","0");
LODOP.ADD_PRINT_TEXT("46.6mm","103.2mm","4.5mm","5.3mm","4");
LODOP.ADD_PRINT_TEXT("46.6mm","108mm","3.7mm","5.3mm","3");
LODOP.ADD_PRINT_TEXT("46.6mm","113mm","5.3mm","5.3mm","5");
LODOP.ADD_PRINT_TEXT("56.6mm","32mm","23.8mm","5.3mm",'<%= eorder.customer_name %>');
LODOP.ADD_PRINT_TEXT("56.1mm","74.1mm","41mm","5.3mm",'<%= eorder.customer_phone %>');
LODOP.ADD_PRINT_TEXT("67.7mm","29.4mm","86mm","13.2mm",'<%= eorder.customer_address %>');
LODOP.ADD_PRINT_TEXT("82.6mm","33.6mm","42.3mm","5.3mm",'<%= eorder.province %><%= eorder.city %>');
LODOP.ADD_PRINT_TEXT("83.9mm","87.6mm","4.2mm","5.3mm",'<%= eorder.customer_postcode[0] %>');
LODOP.ADD_PRINT_TEXT("83.9mm","93.1mm","4mm","5.3mm",'<%= eorder.customer_postcode[1] %>');
LODOP.ADD_PRINT_TEXT("83.9mm","98.4mm","4mm","5.3mm",'<%= eorder.customer_postcode[2] %>');
LODOP.ADD_PRINT_TEXT("83.9mm","103.2mm","3.7mm","5.3mm",'<%= eorder.customer_postcode[3] %>');
LODOP.ADD_PRINT_TEXT("83.9mm","108.2mm","3.7mm","5.3mm",'<%= eorder.customer_postcode[4] %>');
LODOP.ADD_PRINT_TEXT("83.9mm","112.7mm","4.5mm","5.3mm",'<%= eorder.customer_postcode[5] %>');
LODOP.ADD_PRINT_TEXT("107.7mm","47.1mm","4mm","5.3mm","X");
LODOP.ADD_PRINT_TEXT("113.8mm","35.7mm","4.5mm","4mm","X");
LODOP.ADD_PRINT_TEXT("49.2mm","178.3mm","27.8mm","6.6mm",'<%= eorder.business.name %>');
LODOP.ADD_PRINT_TEXT("57.4mm","169.3mm","10.1mm","5.3mm",'<%= Time.now.year %>');
LODOP.ADD_PRINT_TEXT("57.4mm","182.8mm","5.8mm","5.3mm",'<%= Time.now.month %>');
LODOP.ADD_PRINT_TEXT("57.7mm","191.6mm","5.3mm","5.3mm",'<%= Time.now.day %>');
content='';
<% eorder.order_details.each do |j| %>
content=content+'<%= j.name %>  数量：<%= j.amount %>,    '
<% end %>
LODOP.ADD_PRINT_TEXT("97.9mm","32.8mm","85.5mm","9.3mm",content);
LODOP.PREVIEW();  
//LODOP.PRINT();
<% elsif @transport_type=='tcsd' %>
LODOP.PRINT_INITA("0mm","0mm","229.7mm","127mm","tracking");
LODOP.SET_PRINT_PAGESIZE(1,"230mm","127mm","tracking");
LODOP.ADD_PRINT_TEXT("35.5mm","36.2mm","29.1mm","5.3mm",'<%= current_user.unit.name %>'+'函件局');
LODOP.ADD_PRINT_TEXT("35.5mm","81.8mm","29.1mm","5.3mm",CurentTime(0,1));
LODOP.ADD_PRINT_TEXT("42.1mm","44.7mm","40.5mm","5.3mm",'<%= eorder.customer_name %>');
LODOP.ADD_PRINT_TEXT("47.6mm","41mm","61.1mm","5.3mm",'<%= eorder.customer_phone %>');
LODOP.ADD_PRINT_TEXT("60.6mm","39.2mm","72mm","7.9mm",'<%= eorder.customer_address %>');
LODOP.ADD_PRINT_TEXT("70.1mm","85.2mm","26.5mm","5.3mm",'<%= eorder.customer_postcode %>');
LODOP.ADD_PRINT_TEXT("81.8mm","38.9mm","64.6mm","5.3mm",'<%= eorder.business.phone %>');
LODOP.ADD_PRINT_TEXT("88.4mm","39.4mm","64mm","5.3mm",'<%= eorder.business.name %>');
LODOP.ADD_PRINT_TEXT("96mm","41mm","66.1mm","6.6mm",'<%= eorder.business.name %>');
content='';
<% eorder.order_details.each do |j| %>
content=content+'<%= j.name %>  数量：<%= j.amount %>,    '
<% end %>
LODOP.ADD_PRINT_TEXT("41mm","115.1mm","33.6mm","28.6mm",content);
LODOP.ADD_PRINT_TEXT("69.8mm","123mm","16.9mm","5.3mm",'<%= eorder.total_weight %>');

LODOP.PREVIEW();  
//LODOP.PRINT();
<% end %>
	<% end %>
    
    
  };

  </script>

</head>
  
  <body onLoad="webhottracking_preview();window.opener=null;window.open('','_top'); window.top.close();">
  
  	</body>
</html>