<%= form_for @relationship, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :business_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:business_id, Business.accessible_by(current_ability).map{|u| [u.name,u.id]},:include_blank => "请选择")%>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_business_path, target: '_blank',
                  :class => 'btn btn-primary' %>
      <!--<%= hidden_field_tag('bid', @bsid) %>-->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:supplier_id, Supplier.accessible_by(current_ability).map{|u| [u.name,u.id]},:include_blank => "请选择")%>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_supplier_path, target: '_blank',
            :class => 'btn btn-primary' %>
      <!--<%= hidden_field_tag('sid',@slid) %>-->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :specification_id, :class => 'control-label' %>
    <div class="controls">
      <%= product_select_autocom("relationship") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :external_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :external_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :spec_desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spec_desc, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :warning_amt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :warning_amt, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :piece_to_piece, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :piece_to_piece, {:class => 'text_field'}, true, false %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            relationships_path, :class => 'btn btn-default' %>
 
<% end %>
