<%- model_class = Relationship -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Relationship %>
      <%= link_to t('.export', :default => t("helpers.links.specification_export")),
                  specification_export_relationships_url(format: "xls"),
                  :class => 'btn btn-primary' %>
      <%= link_to t('.import', :default => t("helpers.links.relationship_import")),
                  relationship_import_relationships_path,
                  :class => 'btn btn-primary' %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_relationship_path,
                  :class => 'btn btn-primary' %>
      <button class="wg-external-csv-export-button" data-grid-name="relationships">导出csv</button>
    <% end %>
  </div>
</div>

<%= render :partial => 'relationships_grid' %>


