<p id="notice"><%= notice %></p>

<p>
  <strong>Order detail:</strong>
  <%= @orderreturn.order_detail_id %>
</p>

<p>
  <strong>Return reason:</strong>
  <%= @orderreturn.return_reason %>
</p>

<p>
  <strong>Is bad:</strong>
  <%= @orderreturn.is_bad %>
</p>

<%= link_to 'Edit', edit_orderreturn_path(@orderreturn) %> |
<%= link_to 'Back', orderreturns_path %>
