<%- model_class = Stock -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (库存汇总)'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
  </div>

</div>
<div>
   <%= form_tag("/stocks/getstock", method: "get") do -%>
       <%= label_tag(:sixnine_code, "69码:") %>
       <%= text_field_tag(:sixnine_code) %>
       <%= label_tag(:ex_code, "第三方商品编码:") %>
       <%= text_field_tag(:ex_code) %>
       <%= submit_tag("查询") %>
   <% end -%>
</div>

