<%- model_class = Stock -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (库存汇总)'], :model => model_class.model_name.human.titleize %></h1>

</div> 
<div>
   <%= form_tag("/stocks/querystock", method: "get")%>
    <%= label_tag(:sixnine_code, "69码:") %>
    <%= text_field_tag(:sixnine_code) %>
    <%= label_tag(:ex_code, "第三方商品编码:") %>
    <%= text_field_tag(:ex_code) %>
    <%= label_tag(:area_code, "区域编码:") %>
    <%= text_field_tag(:area_code) %>
    <%= submit_tag("查询") %>

    <%= link_to t('导出'),"/stocks/export?sixnine_code=#{@sixnine_code}&ex_code=#{@ex_code}&area_code=#{@area_code}" ,:class => 'btn btn-primary', :action => 'export', method: "post", format: "xls" %> 
   </form>
</div>
<div>
  <table id="stocks" class="table table-striped">
    <thead>
      <tr>
        <th>区域</th>
        <th>商品规格</th>
        <th>实际库存</th>
        <th>预计库存</th>
      </tr>
    </thead>
    <tbody>
    <% @actual_hash.each do |key,value| %>
    <%  if key[0].blank?
          key[0]=""
        end
        if key[1].blank?
          key[1]=""
        end
        if key[2].blank?
          key[2]=""
        end
        if key[3].blank?
          key[3]=""
        end
    %>

      <tr>
        <td><%= key[0] %></td>
        <td>
        <%  if !key[3].blank?
              specification = Specification.find_by id:key[3]
            end
        %>
        <%= specification.blank?? "":specification.all_name %>
        </td>
        <td><%= @actual_hash[key] %></td>
        <td><%= @virtual_hash[key] %></td>
        <td><%=link_to t('详细信息'),"/stocks/stock_details?key0=#{key[0]}&key1=#{key[1]}&key2=#{key[2]}&key3=#{key[3]}", target: '_blank', :class => 'btn btn-primary'%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>