<%- model_class = Stock -%>
<div class="page-header">
  <h1>预警库存查询</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:business_id)%></th>
      <th><%= model_class.human_attribute_name(:specification_id) %></th>
      <th><%= model_class.human_attribute_name(:supplier_id) %></th>
      <th>实际库存/预警数量</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |k, v| %>
      <% x = Relationship.find k %>
        <tr>
          <td><%= x.business.name %></td>
          <td><%= x.specification.name %></td>
          <td><%= x.supplier.name %></td>
          <td><%= v %>/<%= x.warning_amt %></td>
        </tr>
    <% end %>
  </tbody>
</table>
