<%= form_for @purchase, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :business_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:business_id, Business.accessible_by(current_ability).map{|u| [u.name,u.id]})%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sum, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sum, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class => 'text_field' %>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if can? :index, Purchase %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              purchases_path, :class => 'btn btn-default' %>
  <% end %>
<% end %>
