<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>
<%- model_class = Purchase -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_in', '%{model} Stock In'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
      <a href="javascript:stockin_preview()" class='btn btn-primary' >打印入库单</a>
      <%= link_to t('.check_purchase', :default => t("helpers.links.check_purchase")),
                  check_purchase_url(),
                  method: :patch,
                  :class => 'btn btn-primary' %>
      <a href="javascript:void(0);", id='purchase_assign', class='btn btn-primary' >入库单分配</a>
  </div>
</div>
<%= render :partial => 'stock_logs/purchase_stock_in' %>

<script language="javascript" type="text/javascript"> 
function assign(url) {
  // alert(1);
  window.open(url ,'_assign','top=200,left=300,width=500,height=300,menubar=no,toolbar=no,location=no,directories=no,status=no,scrollbars=no,resizable=no');
};
function CreateStockinPage(){
    LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));  
    LODOP.PRINT_INIT("打印入库单");
    LODOP.SET_PRINT_STYLE("FontSize",18);
    LODOP.SET_PRINT_STYLE("Bold",1);
    LODOP.SET_PRINT_STYLE("ItemType",4);
    LODOP.ADD_PRINT_TEXT(50,"45%",260,39,"入库单");
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);
    LODOP.ADD_PRINT_TEXT(50,"75%",260,39,CurentTime(0,0));
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);
    LODOP.ADD_PRINT_BARCODE(80,"35%",260,39,'128A','<%= @purchase.barcode %>');
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);
    LODOP.ADD_PRINT_TEXT(150,"43%",260,39,'<%= @purchase.no %>');
    LODOP.SET_PRINT_STYLE("FontSize",15);
    LODOP.SET_PRINT_STYLE("Bold",1);
    h=200;
    LODOP.ADD_PRINT_TEXT(h,"5%",260,25,"商品名称规格");
    LODOP.ADD_PRINT_TEXT(h,"50%",260,25,"数量");
    LODOP.ADD_PRINT_TEXT(h,"60%",260,25,"货架");
    LODOP.ADD_PRINT_TEXT(h,"80%",260,25,"69码");
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);
    <% @stock_logs.map(&:id).each do |j| %>
        h=h+42;
        LODOP.ADD_PRINT_TEXT(h,"5%",340,25,'<%= StockLog.find(j).specification.name.gsub(/[\r\n]/,'') %>');
        LODOP.ADD_PRINT_TEXT(h,"50%",260,25,'<%= StockLog.find(j).amount %>');
        LODOP.ADD_PRINT_TEXT(h,"60%",260,25,'<%= StockLog.find(j).shelf.shelf_code %>');
        LODOP.ADD_PRINT_TEXT(h,"80%",260,25,'<%= StockLog.find(j).specification.sixnine_code %>');
        LODOP.ADD_PRINT_LINE(h,"5%",h,"95%",0,1);
      <% end %>
      
  };
</script>
