<%= form_for ([ @commodity, @specification]), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sixnine_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sixnine_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :wide, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wide, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :high, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :high, :class => 'text_field' %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :volume, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :volume, :class => 'text_field' %>
    </div>
  </div>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            commodity_specifications_path(@commodity), :class => 'btn btn-default' %>
 
<% end %>
