<%- model_class = OrderDetail -%>
<div>
  <%= hidden_field_tag('orderid',@curr_order )%>
  <%= hidden_field_tag('dtlcnt',@dtl_cnt )%>
  <%= hidden_field_tag('actcnt',@act_cnt )%>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:specification_id) %></th>
      <th>69码</th>
      <th>SKU</th>
      <th>第三方编码</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th>实际数量</th>
    </tr>
  </thead>
  <tbody>
   <% if !@order_details.nil? %>
    <% @order_details.each do |orderdtl| %>
      <%= content_tag(:tr,content_tag(:td, orderdtl.specification.commodity.name )+
        content_tag(:td, orderdtl.specification.name )+
        content_tag(:td, orderdtl.specification.sixnine_code )+
        content_tag(:td, orderdtl.relationship.barcode )+
        content_tag(:td, orderdtl.relationship.external_code )+
        content_tag(:td, text_field_tag("dbam_#{orderdtl.id}", orderdtl.amount, disabled: true) )+
        content_tag(:td, text_field_tag("realam_#{orderdtl.id}", orderdtl.desc == 'haspacked' ? "1" : "0", disabled: true) ),id: "tr_#{orderdtl.id}" ) %>

    <% end %>
  <% end %>
  </tbody>
</table>
<% if !@order.nil? %>
  <% if @order.transport_type == 'gjxbp' || @order.transport_type == 'gjxbg' %>
  <% lgid = Logistic.where("print_format = ?",@order.transport_type).first.id %>
  <%=link_to t('打印'), "/logistics/hotprint_show?flag=one&&oid=#{@curr_order}&&transport_type=#{lgid}", target: '_blank',:class => 'btn btn-primary' %>
  <% else %>
  <%=link_to t('打印'), "/logistics/hotprint_ready?flag=one&&ids=#{@curr_order}", target: '_blank',:class => 'btn btn-primary' %>
  <% end %>
<% end %>