<%- model_class = OrderDetail -%>
<div>
  <%= hidden_field_tag('orderid',@curr_order )%>
  <%= hidden_field_tag('dtlcnt',@dtl_cnt )%>
  <%= hidden_field_tag('actcnt',@act_cnt )%>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:specification_id) %></th>
      <th>69码</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th>实际数量</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |orderdtl| %>
      <%= content_tag(:tr,content_tag(:td, orderdtl.name )+
        content_tag(:td, Specification.find(orderdtl.specification_id).name )+
        content_tag(:td, Specification.find(orderdtl.specification_id).sixnine_code )+
        content_tag(:td, text_field_tag("dbam_#{orderdtl.id}", orderdtl.amount, disabled: true) )+
        content_tag(:td, text_field_tag("realam_#{orderdtl.id}", "0", disabled: true) ),id: "tr_#{orderdtl.id}" ) %>

    <% end %>
  </tbody>
</table>