<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
  <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>
<%- model_class = OrderDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (B2C拆单)'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
  </div>

</div>
  <%= hidden_field_tag('b2cdtlcnt',@dtl_cnt )%>
  <%= hidden_field_tag('b2cactcnt',@act_cnt )%>
<div>
   <%= label_tag 'name', '扫描69码:', class: 'control-group' %><%= text_field_tag 'b2cos_sixnine_code', nil, class: "controls"%>
   
</div>

<div id="keydtl">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:specification_id) %></th>
      <th>69码</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th>已扫描总数量</th>
      <th>当前扫描数量</th>
    </tr>
  </thead>
  <tbody>
    <%= hidden_field_tag('keyco',@oi )%>
    <% @or_details_hash.each do |key,value| %>
      <%= content_tag(:tr,content_tag(:td, Specification.find(key[0]).all_name )+
        content_tag(:td, Specification.find(key[0]).sixnine_code )+
        content_tag(:td, text_field_tag("b2cdetailam_#{Specification.find(key[0]).sixnine_code}", value, disabled: true) )+
        content_tag(:td, text_field_tag("b2cscanallam_#{Specification.find(key[0]).sixnine_code}", @scanall[key].nil? ? 0 : @scanall[key], disabled: true) )+
        content_tag(:td, text_field_tag("b2cscancuram_#{Specification.find(key[0]).sixnine_code}", "0", disabled: true) ),id: "b2ctr_#{Specification.find(key[0]).sixnine_code}" ) %>

    <% end %>
  </tbody>
</table>
<input type="button" id="b2csplitorder" value="包装订单">
</div>
<%= label_tag 'scanname', '拆单明细:', class: 'control-group' %>
<div id="b2csplitorders">
  <%= render :partial => 'orders/ordetails_forms' %>
</div>
<%= label_tag 'b2csplit_tracking_number', '面单号:', class: 'control-group' %><%= text_field_tag 'b2cso_tra_num', nil, class: "controls"%><input type="button" id="setb2csptnumber" value="完成" >


<script language="javascript" type="text/javascript"> 

$(document).ready(function(){

  $("#b2cos_sixnine_code").keypress(function(e) {  
      var e = e || window.event; 
      if(e.keyCode == 13 ){
        $.ajax({
          type : 'GET',
          url : '/orders/b2cfind69code/',
          data: { sixninecode: $('#b2cos_sixnine_code').val(),keyco: $('#keyco').val() },
          dataType : 'script'
          });
        return false;
      }    
      
    })

  $("#b2csplitorder").click(function(){
    $.ajax({
          type : 'GET',
          url : '/orders/b2csplitanorder/',
          data:  $('#keydtl input[type=\'text\'],#keydtl input[type=\'hidden\']'),
          dataType : 'script'
          });
    return false;
  })

  $("#setb2csptnumber").click(function(){
    $.ajax({
          type : 'GET',
          url : '/orders/b2csettrackingnumber/',
          data: { split_tracking_num: $('#b2cso_tra_num').val(),keyco: $('#keyco').val(),split_order: $('#b2csplitorderid').val() },
          dataType : 'script'
          });
    return false;
  })

})


</script>





