var oid = <%= @curr_order %>;
var id = <%= @curr_dtl %>;
if (oid == 0)
{
    if (id == 0)
    {
      var myWindow = window.open("","myWindow","width=200,height=100,left=500,top=200");
      myWindow.document.write("<p>无此面单号或无此69码的商品</p>");
      setTimeout(function(){myWindow.close()},3000);  
    }
    else
    {
	  var tdraid = "#realam_"+<%= @curr_dtl %>;
      var tddbid = "#dbam_"+<%= @curr_dtl %>;
      var trid = "#tr_"+<%= @curr_dtl %>;

      if ($(tddbid).val() > $(tdraid).val())
      {
         $(tdraid).val(parseInt($(tdraid).val())+1);
      }

      if ($(tddbid).val() == $(tdraid).val())
      {
         $(trid).css("color","blue");
         $(trid).css("background-color","blue");
      }
    }

}
else
{
	$('#outorders').html(" <%= escape_javascript(render(:partial => "orders/packout_forms",:object => @curr_order)) %> ");
}



