<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div style="float:right">
    <% if can? :stockout, Order %>
      <%= link_to t('.stockout', :default => t("helpers.links.stockout")),
                  stockout_orders_url,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:no) %></th>
      <th><%= model_class.human_attribute_name(:customer_name) %></th>
      <th><%= model_class.human_attribute_name(:customer_unit) %></th>
      <th><%= model_class.human_attribute_name(:customer_tel) %></th>
      <th><%= model_class.human_attribute_name(:customer_phone) %></th>
      <th><%= model_class.human_attribute_name(:province) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:customer_address) %></th>
      <th><%= model_class.human_attribute_name(:customer_postcode) %></th>
      <th><%= model_class.human_attribute_name(:customer_email) %></th>
      <th><%= model_class.human_attribute_name(:total_weight) %></th>
      <th><%= model_class.human_attribute_name(:total_amount) %></th>
      <th><%= model_class.human_attribute_name(:transport_type) %></th>
      <th><%= model_class.human_attribute_name(:business_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.no %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.customer_unit %></td>
        <td><%= order.customer_tel %></td>
        <td><%= order.customer_phone %></td>
        <td><%= order.province %></td>
        <td><%= order.city %></td>
        <td><%= order.customer_address %></td>
        <td><%= order.customer_postcode %></td>
        <td><%= order.customer_email %></td>
        <td><%= order.total_weight %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.transport_type_name %></td>
        <td><%= order.business.try :name %></td>
        <td><%= order.status_name %></td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
