<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0 style="display:none"> 
  <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>
<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  
</div>


<%= render partial: 'grid'%>
  
<div>
  <div class="findprintindex-btns">
    <% if can? :stockout, Order %>

    <%= link_to t('.stockout', :default => t("helpers.links.stockout")),
                  "/keyclientorders/" + @orders_grid.current_page_records.first.try(:keyclientorder_id).to_s + "/stockout" ,
                  :class => 'btn btn-primary', disabled: (@orders_grid.current_page_records.first.try(:keyclientorder_id).blank? ? true : false) %>
    <% end %>

    <a href="javascript:pick_preview()" class='btn btn-primary' >打印配货单</a>

    <%=link_to t('打印面单'), "/print/webprint?flag=filter&&ids=#{@orders_grid.all_pages_records.map{|o| o.id if (o.status=='waiting')}.compact.join(",")}", target: '_blank',:class => 'btn btn-primary' %>

      <%= form_tag(exportorders_orders_url(format: "xls")) %>
      <%= hidden_field_tag('ids', "#{@orders_grid.all_pages_records.map{|o| o.id.to_s}.compact.join(",")}") %>
        <%=link_to t('面单信息回馈'), "/orders/importorders1", target: '_blank',:class => 'btn btn-primary' %>
        <%= submit_tag "订单导出",:class => 'btn btn-primary' %>
        <div class="pull-right" style="margin-left:6px;line-height:36px;"><%= check_box("checkbox","all")%>导出缺货订单</div>
        <%=link_to t('订单导入'), "/orders/standard_orders_import1", target: '_blank',:class => 'btn btn-primary' %>
      </form>
  </div>
  <div class="findprintindex-filters">
    <div>
      <span>商户:</span>
      <%= grid_filter(@orders_grid, :business_id_filter)%>
    </div>

    <div style="line-height: 15px;">
      <span>日期:</span>
      <%= grid_filter(@orders_grid, :created_at_filter)%>
    </div>

    <div>
      <span>运输方式:</span>
      <%= grid_filter(@orders_grid, :transport_type_filter)%>
    </div>

    <div>
      <span>重量:</span>
      <%= grid_filter(@orders_grid, :total_weight_filter)%>
    </div>

    <div>
      <span>状态:</span>
      <%= grid_filter(@orders_grid, :status_show_filter)%>
    </div>
     
    <div>
      <span>面单号:</span>
      <%= grid_filter(@orders_grid, :tracking_number_filter)%>
    </div>

    <div>
      <span>大客户订单编号:</span>
      <%= grid_filter(@orders_grid, :keyclientorder_filter)%>
    </div>

    <div>
      <span>外部订单号:</span>
      <%= grid_filter(@orders_grid, :business_order_id_filter)%>
    </div>

    <div>
      <span>国家:</span>
      <%= grid_filter(@orders_grid, :country_filter)%>
    </div>

    <button class="wg-external-submit-button" data-grid-name="grid">递交</button>
    <button class="wg-external-reset-button" data-grid-name="grid">重置</button>
    
  </div>
</div>
<div class="clearfix"></div> 
<%= render_grid(@orders_grid)%>


<div>
<p>订单明细汇总</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>商户</th>
      <th>产品规格</th>
      <th>供应商</th>
      <th>订单数</th>
      <th>商品数</th>
      <th>库存数</th>
      <th>缺货数</th>
    </tr>
  </thead>
  <tbody>
    <% @allcnt.each do |key,value| %>
      <tr>
        <td><%= Business.find(key[2]).name %></td>
        <td><%= Specification.find(key[0]).name %></td>
        <td><%= key[1].blank?? "":Supplier.find(key[1]).name %></td>
        <td><%= value[1].blank? ? 0:value[1] %></td>
        <td><%= value[0].blank? ? 0:value[0] %></td>
        <td><%= value[2].blank? ? 0:value[2] %></td>
        <td><%= (value[0].blank? || value[2].blank?) ? '' : ((value[2] - value[0] < 0) ? (value[0] - value[2]):'') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<script language="javascript" type="text/javascript"> 
function pick_preview(){
    LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));  
    LODOP.PRINT_INIT("打印配货单");
    <% @orders_grid.all_pages_records.each do |order| %>
    LODOP.SET_PRINT_PAGESIZE(1,"210mm","297mm","");
    LODOP.PRINT_INIT("打印配货单");
    LODOP.SET_PRINT_STYLE("FontSize",18);
    LODOP.SET_PRINT_STYLE("Bold",1);
    LODOP.SET_PRINT_STYLE("ItemType",4);
    LODOP.ADD_PRINT_TEXT(50,"45%",260,39,"配货单");
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.ADD_PRINT_TEXT(150,"5%",260,25,"订单编号：<%= order.no %>");
    LODOP.ADD_PRINT_TEXT(150,"30%",260,25,"打印时间："+CurentTime(0,0));
    LODOP.ADD_PRINT_TEXT(150,"60%",160,25,"客户姓名：<%= order.customer_name %>");
    LODOP.ADD_PRINT_TEXT(150,"80%",160,25,"商品总数：<%= order.total_amount %>");
    LODOP.SET_PRINT_STYLE("FontSize",15);
    h=200;
    LODOP.ADD_PRINT_TEXT(h,"5%",260,25,"商品编号");
    LODOP.ADD_PRINT_TEXT(h,"25%",260,25,"商品名称规格");
    LODOP.ADD_PRINT_TEXT(h,"85%",260,25,"数量");
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);

    <% order.order_details.each do |detail| %>
    h=h+42;
     LODOP.ADD_PRINT_TEXT(h,"5%",260,25,'<%= detail.specification.commodity.no %>');
     LODOP.ADD_PRINT_TEXT(h,"25%",380,25,'<%= detail.specification.commodity.name %>'+' '+'<%= (detail.specification.commodity.specifications.size > 1) ? detail.specification.name : "" %>');
     LODOP.ADD_PRINT_TEXT(h,"85%",60,25,'<%= detail.amount %>');
    <% end %>

    LODOP.PREVIEW();  
    //LODOP.PRINT();  
  <% end %>
    
      
  };
</script>
