<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div style="float:right">
    <% if can? :new, Order %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_order_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:no) %></th>
      <th><%= model_class.human_attribute_name(:customer_name) %></th>
      <th><%= model_class.human_attribute_name(:customer_unit) %></th>
      <th><%= model_class.human_attribute_name(:customer_tel) %></th>
      <th><%= model_class.human_attribute_name(:customer_phone) %></th>
      <th><%= model_class.human_attribute_name(:customer_address) %></th>
      <th><%= model_class.human_attribute_name(:customer_postcode) %></th>
      <th><%= model_class.human_attribute_name(:customer_email) %></th>
      <th><%= model_class.human_attribute_name(:total_weight) %></th>
      <th><%= model_class.human_attribute_name(:total_amount) %></th>
      <th><%= model_class.human_attribute_name(:transport_type) %></th>
      <th><%= model_class.human_attribute_name(:pay_type) %></th>
      <th><%= model_class.human_attribute_name(:business_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:unit_id) %></th>
      <th><%= model_class.human_attribute_name(:storage_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.no %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.customer_unit %></td>
        <td><%= order.customer_tel %></td>
        <td><%= order.customer_phone %></td>
        <td><%= order.customer_address %></td>
        <td><%= order.customer_postcode %></td>
        <td><%= order.customer_email %></td>
        <td><%= order.total_weight %></td>
        <td><%= order.total_amount %></td>
        <td><%= Order::TRANSPORT_TYPE[order.transport_type.to_sym] %></td>
        <td><%= Order::PAY_TYPE[order.pay_type.to_sym] %></td>
        <td><%= Business.find(order.business_id).name %></td>
        <td><%= Order::STATUS[order.status.to_sym] %></td>
        <td><%= Unit.find(order.unit_id).name %></td>
        <td><%= Storage.find(order.storage_id).name %></td>
        <td>
           <%=link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-xs btn-primary' if can? :update, order %>
          <%=link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                       :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, order %>
          <%=link_to t('.order_details', :default => t("helpers.links.order_details")),order_order_details_path(order), :class => 'btn btn-xs btn-info' if can? :order_detail, order %>
          <%=link_to t('打印面单'), "/print/tracking?id=#{order.id}", target: '_blank',:class => 'btn btn-xs btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
