<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
</div> 

<!-- <div>
   <%= form_tag(orders_path, method: "get")%>
    <%= label_tag(:order_start_date, "出库时间开始:") %>
    <%= text_field("order_start_date","order_start_date", default: 1.month.ago) %>
    <%= label_tag(:order_end_date, "出库时间结束:") %>
    <%= text_field("order_end_date","order_end_date",default: Date.today) %>
    <%= submit_tag("查询") %>

   </form>
</div>  
 -->
<%= render partial: 'query'%>

  <div style="float:right">
    <%= form_tag(export_orders_url(format: "xls")) %>
    <%= hidden_field_tag('ids', "#{@orders_grid.all_pages_records.map{|o| o.id.to_s}.compact.join(",")}") %>
    <%@ods = @orders_grid.all_pages_records %>
    <%= submit_tag "导出",:class => 'btn btn-primary' %>
    </form>
  </div>

<%= render_grid(@orders_grid)%>