<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (包装出库)'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
  </div>

</div>

<div>
   <%= label_tag 'name', '扫描面单号或订单条码或69码:', class: 'control-group' %><%= text_field_tag 'tracking_number', nil, class: "controls"%><%= content_tag(:p, "注意:请先扫面单号或订单条码再扫69码") %>
   <%= %>
</div>
面单号: <%= text_field_tag '_tracking_number', nil, class: "controls", readonly: true%>
<div id="outorders">
  <%= render :partial => 'orders/packout_forms' %>
</div>

<%= check_box_tag 'allow_weight', 'alwg', false %>是否称重
<div id="gd_wg">
   <%= label_tag 'wgname', '重量:', class: 'control-group' %>
   <%= text_field_tag 'goods_weight', nil, class: "controls"%>
</div>

<div>
<ul id="ulmenu">
   <li><a href="/orders/packaging_index" onclick="displayScore(this); return false;">未包装</a><li>
   <li><a href="/orders/packaged_index" onclick="displayScore(this); return false;">已包装</a><li>

</ul>
</div>

</br>

<div>
    <iframe id="_poifview" src="/orders/packaging_index" width="100%" height="300p" 
    scrolling="auto" frameborder="0"></iframe>
</div>


<script language="javascript" type="text/javascript"> 

$(document).ready(function(){
 $("#gd_wg").hide();
 $("#allow_weight").click(function() { 
      if ($("#allow_weight").is(':checked') == true) { 
        $("#gd_wg").show();
        $("#goods_weight").focus();
      } 
      else { 
        $("#gd_wg").hide();
        } 
  })



})


function displayScore(_this){

    $('#_poifview').attr('src',$(_this).attr('href'));
}

</script>
