<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (包装出库)'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
  </div>

</div>

<div>
   <%= label_tag 'name', '扫描面单号或69码:', class: 'control-group' %><%= text_field_tag 'tracking_number', nil, class: "controls"%><%= content_tag(:p, "注意:请先扫面单号再扫69码") %>
   <%= %>
</div>
面单号: <%= text_field_tag '_tracking_number', nil, class: "controls", readonly: true%>
<div id="outorders">
  <%= render :partial => 'orders/packout_forms' %>
</div>




<div>
<ul id="ulmenu">
   <li><a href="/orders/packaging_index" onclick="displayScore(this); return false;">未包装</a><li>
   <li><a href="/orders/packaged_index" onclick="displayScore(this); return false;">已包装</a><li>

</ul>
</div>

</br>

<div>
    <iframe id="_poifview" src="/orders/packaging_index" width="100%" height="100%" 
    scrolling="auto" frameborder="0"></iframe>
</div>


<script language="javascript" type="text/javascript"> 


function displayScore(_this){

    $('#_poifview').attr('src',$(_this).attr('href'));
}

function myAlert(showstr)  
    {  
        var alertInfo = showstr;  //传递alert框里要显示的信息  
        var timer = 3000;   //设定停留的时间为3000ms，即3秒  
        //在页面中新建一个框架frame，以便在该frame中弹出一个非模态对话框  
        document.body.innerHTML += "<iframe style='display:none;' width='500' name='ifrtemp'></iframe>";  
        //在非模态对话框中弹出一个alert框，并立即关闭该非模态对话框  
        ifrtemp.showModelessDialog("javascript:alert('"+alertInfo+"');window.close();",  
                "",  
                "status:no;resizable:no;help:no;dialogHeight:530px;dialogWidth:40px;");  
        setTimeout("ifrtemp.location.reload();",timer); //停留一段时间后强行关闭alert窗口  
    }

</script>
