<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:no) %>:</strong></dt>
  <dd><%= @order.no %></dd>

  <dt><strong><%= model_class.human_attribute_name(:order_type) %>:</strong></dt>
  <dd><%= @order.order_type %></dd>

   <dt><strong><%= model_class.human_attribute_name(:need_invoice) %>:</strong></dt>
  <dd><%= @order.need_invoice %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:customer_name) %>:</strong></dt>
  <dd><%= @order.customer_name %></dd>
   <dt><strong><%= model_class.human_attribute_name(:customer_tel) %>:</strong></dt>
  <dd><%= @order.customer_tel %></dd>
   <dt><strong><%= model_class.human_attribute_name(:customer_phone) %>:</strong></dt>
  <dd><%= @order.customer_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:province) %>:</strong></dt>
  <dd><%= @order.province %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @order.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @order.country %></dd>
   <dt><strong><%= model_class.human_attribute_name(:customer_address) %>:</strong></dt>
  <dd><%= @order.customer_address %></dd>
   <dt><strong><%= model_class.human_attribute_name(:customer_postcode) %>:</strong></dt>
  <dd><%= @order.customer_postcode %></dd>


   <dt><strong><%= model_class.human_attribute_name(:customer_email) %>:</strong></dt>
  <dd><%= @order.customer_email %></dd>

   <dt><strong><%= model_class.human_attribute_name(:total_weight) %>:</strong></dt>
  <dd><%= @order.total_weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_price) %>:</strong></dt>
  <dd><%= @order.total_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_amount) %>:</strong></dt>
  <dd><%= @order.total_amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:transport_type) %>:</strong></dt>
  <dd><%= @order.transport_type_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:transport_price) %>:</strong></dt>
  <dd><%= @order.transport_price %></dd>

  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @order.status_name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:buyer_desc) %>:</strong></dt>
  <dd><%= @order.buyer_desc %></dd>

  <dt><strong><%= model_class.human_attribute_name(:seller_desc) %>:</strong></dt>
  <dd><%= @order.seller_desc %></dd>

  <dt><strong><%= model_class.human_attribute_name(:business_id) %>:</strong></dt>
  <dd><%= @order.business.try :name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:unit_id) %>:</strong></dt>
  <dd><%= @order.unit.try :name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:storage_id) %>:</strong></dt>
  <dd><%= @order.storage.try :name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
