<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>
<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} Stock Out'], :model => model_class.model_name.human.titleize %></h1>
  <div style="float:right">   
      <a href="javascript:stockout_preview()" class='btn btn-primary' >打印出库单</a>
      <%= link_to t('.ordercheck', :default => t("helpers.links.ordercheck")),
                  ordercheck_keyclientorders_url(@keyclientorder),
                  :class => 'btn btn-primary' %>
  </div>

</div>
<%= render :partial => 'stock_logs/some_forms' %>

<script language="javascript" type="text/javascript"> 
function CreateStockoutPage(){
    LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));  
    LODOP.PRINT_INIT("打印出库单");
    LODOP.SET_PRINT_STYLE("FontSize",18);
    LODOP.SET_PRINT_STYLE("Bold",1);
    LODOP.SET_PRINT_STYLE("ItemType",4);
    LODOP.ADD_PRINT_TEXT(50,"45%",260,39,"出库单");
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);
    LODOP.ADD_PRINT_TEXT(50,"75%",260,39,CurentTime(0,0));
    LODOP.SET_PRINT_STYLE("FontSize",15);
    LODOP.SET_PRINT_STYLE("Bold",1);
    h=110;
    LODOP.ADD_PRINT_TEXT(h,"5%",260,25,"商品名称规格");
    LODOP.ADD_PRINT_TEXT(h,"35%",260,25,"数量");
    LODOP.ADD_PRINT_TEXT(h,"45%",260,25,"货架");
    LODOP.ADD_PRINT_TEXT(h,"70%",260,25,"69码");
    LODOP.SET_PRINT_STYLE("FontSize",12);
    LODOP.SET_PRINT_STYLE("Bold",0);
    <% @stock_logs_grid.all_pages_records.map(&:id).each do |j| %>
        h=h+33;
        LODOP.ADD_PRINT_TEXT(h,"5%",260,25,'<%= StockLog.find(j).stock.specification.commodity.name %>'+' '+'<%= StockLog.find(j).stock.specification.name %>');
        LODOP.ADD_PRINT_TEXT(h,"35%",260,25,'<%= StockLog.find(j).amount %>');
        LODOP.ADD_PRINT_TEXT(h,"45%",260,25,'<%= StockLog.find(j).stock.shelf.shelf_code %>');
        LODOP.ADD_PRINT_TEXT(h,"75%",260,25,'<%= StockLog.find(j).stock.specification.sixnine_code %>');
      <% end %>
      
  };
</script>
