<%= form_for ([ @purchase, @purchase_detail, @purchase_arrive]), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :arrived_amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field  :arrived_amount %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expiration_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select  :expiration_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :arrived_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select  :arrived_date %>
    </div>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <% if can? :index, PurchaseArrive %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              purchase_purchase_detail_purchase_arrives_path(@purchase), :class => 'btn btn-default' %>
  <% end %>
<% end %>
