<%- model_class = PurchaseArrive -%>
<div class="page-header">
  <h1><%=@purchase.name%>-<%=@purchase_detail.name%>-<%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :index, PurchaseArrive %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
                 purchase_purchase_details_path(@purchase_detail),
                  :class => 'btn btn-primary' %>
    <% end %>
    <% if can? :new, PurchaseDetail %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                 new_purchase_purchase_detail_purchase_arrife_path(@purchase_detail),
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>




<%= grid(@purchase_arrives_grid) do |g|
    # g.column name: model_class.human_attribute_name(:name), attribute: 'name'

    # g.column name: model_class.human_attribute_name(:purchase_id), attribute: 'no',
    # model: 'Purchase' do |purchase_detail|
    #     purchase_detail.purchase.try :no
    # end

    # g.column name: model_class.human_attribute_name(:supplier_id), attribute: 'name',
    #  model: 'Supplier' do |purchase_detail|
    #     purchase_detail.supplier.try :name
    # end

    # g.column name: model_class.human_attribute_name(:specification_id), attribute: 'all_name',
    #     model: 'Specification' do |purchase_detail|
    #     purchase_detail.specification.try :all_name
    # end


    g.column name: model_class.human_attribute_name(:batch_no), attribute: 'batch_no'

    g.column name: model_class.human_attribute_name(:arrived_amount), attribute: 'arrived_amount', filter: false

    g.column name: model_class.human_attribute_name(:expiration_date), attribute: 'expiration_date'
   
    g.column name: model_class.human_attribute_name(:arrived_date), attribute: 'arrived_date'



    # g.column name: model_class.human_attribute_name(:status), attribute: 'status',custom_filter: PurchaseDetail::STATUS.map {|k, v| [model_class.human_attribute_name("status_#{k}"), v]} do |purchase_detail| 
    #   purchase_detail.status_name

    # end

    g.column do |purchase_arrive|
      ActiveSupport::SafeBuffer.new << 
      (link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_purchase_detail_purchase_arrife_path(@purchase,@purchase_detail,purchase_arrive), :class => 'btn btn-xs btn-primary' if can? :update, purchase_arrive) << ' ' <<
      (link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_purchase_detail_purchase_arrives_path(@purchase,@purchase_detail,purchase_arrive), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, purchase_arrive)
      end
  end 
%>





<h1>Listing purchase_arrives</h1>

<table>
  <thead>
    <tr>
      <th>Arrived amount</th>
      <th>Expiration date</th>
      <th>Date</th>
      <th>Arrived date</th>
      <th>Date</th>
      <th>Batch no</th>
      <th>String</th>
      <th>Purchase detail</th>
      <th>Integer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_arrives.each do |purchase_arrife| %>
      <tr>
        <td><%= purchase_arrife.arrived_amount %></td>
        <td><%= purchase_arrife.expiration_date %></td>
        <td><%= purchase_arrife.date %></td>
        <td><%= purchase_arrife.arrived_date %></td>
        <td><%= purchase_arrife.date %></td>
        <td><%= purchase_arrife.batch_no %></td>
        <td><%= purchase_arrife.string %></td>
        <td><%= purchase_arrife.purchase_detail_id %></td>
        <td><%= purchase_arrife.integer %></td>
        <td><%= link_to 'Show', purchase_arrife %></td>
        <td><%= link_to 'Edit', edit_purchase_arrife_path(purchase_arrife) %></td>
        <td><%= link_to 'Destroy', purchase_arrife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase arrive', new_purchase_arrife_path %>
