<p id="notice"><%= notice %></p>

<p>
  <strong>Arrived amount:</strong>
  <%= @purchase_arrife.arrived_amount %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @purchase_arrife.expiration_date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @purchase_arrife.date %>
</p>

<p>
  <strong>Arrived date:</strong>
  <%= @purchase_arrife.arrived_date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @purchase_arrife.date %>
</p>

<p>
  <strong>Batch no:</strong>
  <%= @purchase_arrife.batch_no %>
</p>

<p>
  <strong>String:</strong>
  <%= @purchase_arrife.string %>
</p>

<p>
  <strong>Purchase detail:</strong>
  <%= @purchase_arrife.purchase_detail_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @purchase_arrife.integer %>
</p>

<%= link_to 'Edit', edit_purchase_arrife_path(@purchase_arrife) %> |
<%= link_to 'Back', purchase_arrives_path %>
