<center>
<br><br>
<font face="微软雅黑" color='#006030' size=6>补货订单汇总</font>   

<br><br><br>
 

<%= form_tag("/shpost_storage/report/purchase_arrival_report",format: "xls", method: "post") do -%>
    <div><%= label_tag(:business, "商户:") %><%= select_tag("business_id", options_for_select(Business.accessible_by(current_ability).map{|u| [u.name,u.id]}, Business.accessible_by(current_ability).first), id: "business_id") %></div>
    <br/>
    <div><%= label_tag(:start_date, "汇总开始日期:") %><%= date_select("start_date","start_date", default: 1.month.ago) %></div>
    <br/>
    <div><%= label_tag(:end_date, "汇总结束日期:") %><%= date_select("end_date","end_date",default: Date.today) %></div>
    <br/>
    <%= submit_tag "订单导出",:class => 'btn btn-primary' %>
       
<% end -%>


</center>