<% @order_details.each do |orderdtl| %>
  <tr>
  	    <td style="width:150px"><%= check_box_tag("cbids[]","#{orderdtl.id}",true) %></td>
        <td style="width:150px"><%= orderdtl.order.tracking_number %></td>
        <td style="width:150px"><%= orderdtl.order.customer_name %></td>
        <td style="width:150px"><%= Business.find(orderdtl.order.business_id).name %></td>
        <td style="width:130px"><%= Supplier.find(orderdtl.supplier_id).name %></td>
        <td style="width:110px"><%= Specification.find(orderdtl.specification_id).all_name %></td>
        <td><%= text_field_tag("rereason_#{orderdtl.id}") %></td>
        <td align="right"><%= select_tag("st_#{orderdtl.id}", options_for_select([ "否", "是" ], "否") )%></td>
  </tr>
<% end %>
