<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.stock_out', '%{model} (退件入库)'], :model => model_class.model_name.human.titleize %></h1>

</div>
<div>
   <%= label_tag 'name', '面单号:', class: 'control-group' %><%= text_field_tag 'tracking_number', nil, class: "controls", onkeypress: "ReEnterPress(event)"  %>
</div>
<div>
   <%= label_tag 'name1', '退件原因设置:', class: 'control-group' %>
   <%= select_tag "return_reason", options_for_select([ "请选择", "无人签收","地址错误", "其他" ], "请选择") %>
   <%= text_field_tag("reasondtl") %>
   <input type="button" id="setreason" value="设置">
</div>
<div>
  <%=link_to t('退件信息导出'), "/order_returns/export_order_returns.xls", target: '_blank',:class => 'btn btn-primary' %>
</div>
<%= form_tag("/order_returns/do_return/", :method => "get") do %>
<div style="float:right">
    <%= submit_tag("退件入库", :class=>"btn btn-primary") %>  
</div>
 <div id="outorders">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="button" id="selectall" value="全选"></th>
        <th><%= model_class.human_attribute_name(:tracking_number) %></th>
        <th><%= model_class.human_attribute_name(:customer_name) %></th>
        <th><%= model_class.human_attribute_name(:business_id) %></th>
        <th>供应商</th>
        <th>商品</th>
        <th>退件原因</th>
        <th>是否破损</th>
      </tr>
    </thead>
    <tbody>
      
        <%= render :partial => 'order_returns/pack_return_forms',object: @orders %>
     
    </tbody>
</table>
  
</div>

<%end %>
<script language="javascript" type="text/javascript"> 

$('#return_reason').show();
$('#reasondtl').hide();


function ReEnterPress(e){ //传入 event   
    var e = e || window.event;   
    if(e.keyCode == 13){   
      $.ajax({
            type : 'GET',
            url : '/order_returns/find_tracking_number/',
            data: { tracking_number: $('#tracking_number').val()},
            dataType : 'script'
            });
      $('#tracking_number').val("");
      return false;   
    }   
}

</script>
