<%= form_for @commodity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :no, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :goodstype_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :goodstype_id, Goodstype.accessible_by(current_ability).collect {|g| [g.name,g.id]}, {include_blank: ''}, :class => 'control-label' %>
    </div>
  </div>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            commodities_path, :class => 'btn btn-default' %>
 
<% end %>
