<%- model_class = Commodity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:no) %>:</strong></dt>
  <dd><%= @commodity.no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @commodity.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:goodstype_id) %>:</strong></dt>
  <dd><%=Goodstype.find(@commodity.goodstype_id).name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              commodities_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_commodity_path(@commodity), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              commodity_path(@commodity),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除?')) },
              :class => 'btn btn-danger' %>
