<!DOCTYPE HTML>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag :defaults %>
      <%= javascript_include_tag "application" %>

<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
</object>

  <script language="javascript" type="text/javascript">
  function areabarcode_preview() {

  	LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
  	LODOP.PRINT_INIT("打印货架条码");
    start_code=65
    start_barcode=90
    page_i=290
    height=574
    <% @shelves.each do |shelf| %>
      LODOP.SET_PRINT_STYLE("FontSize",18);
      LODOP.SET_PRINT_STYLE("Bold",1);
      LODOP.SET_PRINT_STYLE("ItemType",4);
      LODOP.ADD_PRINT_TEXT(start_code,"10%",260,39,'<%= shelf.shelf_code %>');
      LODOP.SET_PRINT_STYLE("FontSize",12);
      LODOP.SET_PRINT_STYLE("Bold",0);
      LODOP.ADD_PRINT_BARCODE(start_barcode,"10%",260,39,'128A','<%= shelf.barcode %>');

      LODOP.SET_PRINT_STYLE("FontSize",18);
      LODOP.SET_PRINT_STYLE("Bold",1);
      LODOP.SET_PRINT_STYLE("ItemType",4);
      LODOP.ADD_PRINT_TEXT(start_code+page_i,"10%",260,39,'<%= shelf.shelf_code %>');
      LODOP.SET_PRINT_STYLE("FontSize",12);
      LODOP.SET_PRINT_STYLE("Bold",0);
      LODOP.ADD_PRINT_BARCODE(start_barcode+page_i,"10%",260,39,'128A','<%= shelf.barcode %>');

      start_code=start_code+height;
      start_barcode=start_barcode+height;
    <% end %>
    LODOP.PREVIEW();  
  };

  </script>

</head>
  
  <body onLoad="areabarcode_preview();window.opener=null;window.open('','_top'); window.top.close();">
  
  	</body>
</html>