<center>
<br><br>
<font face="微软雅黑" color='#006030' size=6>库存导入</font>   

<br><br><br>

<%= form_tag({:action => 'org_single_stocks_import'}, :multipart => true) %>

<div>
   <!-- <strong>单位: </strong><%= select_tag :org_stocks_import_unit, options_for_select(Unit.accessible_by(current_ability).map{|u| [u.name, u.id]}.insert(0,"请选择")) %>&nbsp;
   <br/>
   <strong>仓库: </strong><%= select_tag :org_stocks_import_storage, options_for_select(Storage.accessible_by(current_ability).map{|u| [u.name, u.id]}.insert(0,"请选择")) %>&nbsp;
   <%= hidden_field_tag('si_storageid',@storageid) %>
   <br/>
   <strong>商户: </strong><%= select_tag :org_stocks_import_business, options_for_select(Business.accessible_by(current_ability).map{|u| [u.name, u.id]}.insert(0,"请选择")) %>&nbsp;
   <%= hidden_field_tag('si_businessid',@businessid) %>
   <br/>
   <strong>供应商: </strong><%= select_tag :org_stocks_import_supplier, options_for_select(Supplier.accessible_by(current_ability).map{|u| [u.name, u.id]}.insert(0,"请选择")) %>&nbsp;
   <%= hidden_field_tag('si_supplierid',@supplierid) %>
   <br/>
   <strong>商品规格: </strong><%= text_field_tag('org_stocks_import_specificaion',@spname, 'data-autocomplete' => "/specification_autocom/si_autocomplete_specification_name?obj_id=si") %>&nbsp;
   <%= hidden_field_tag('si_specificationid',@specificationid) %>
   <br/>
   <strong>货架: </strong><%= text_field_tag(:org_stocks_import_shelf_code, nil,'data-autocomplete' => "/shelves/autocomplete_shelf_code_by_stockimp") %>&nbsp;
   <%= hidden_field_tag('si_shelfid',@shelfid) %>
   <br/> -->
   <strong>上传文档: </strong><%= file_field_tag('file') %>&nbsp;
</div>

<br/>

<%= submit_tag "确认导入", data: { disable_with: "导入中，请稍等..." } %>

</form>
</center>
