<div>
<table id="move_stock_dtl" class="table table-striped">
  <thead>
    <tr>
      <th>移出货架</th>
      <th>库存</th>
      <th>库存数量</th>
      <th>移出数量</th>
      <th>移入货架</th>
    </tr>
  </thead>
  <tbody>
    <% if !@stock_logs.blank? %>
     <% @stock_logs.each do |stock_log| %>
      <tr id="md_<%=stock_log.id%>">
        <td><%= hidden_field_tag("stock_logs[][id]", stock_log.id, id: "md_stock_log_#{stock_log.id}") %>
          <%= text_field_tag("stock_logs[][out_shelf_id]", stock_log.stock.shelf.shelf_code, id: "md_out_shelf_#{stock_log.id}", 'data-autocomplete' => "/shelves/autocomplete_shelf_shelf_code")%>
          <%= hidden_field_tag("stock_logs[][out_shelf_id]", stock_log.stock.shelf.id, id: "md_out_shelf_#{stock_log.id}") %>
        </td>
        <td>
          <%= select_tag("stock_logs[][md_stock_id]", options_for_select(Stock.where("shelf_id = ?",stock_log.stock.shelf.id).map{|u| [u.batch_no+u.specification.all_name,u.id]}.insert(0,"请选择"), stock_log.stock.id), id: "md_stock_#{stock_log.id}")%>
        </td>
        <td>
          <%= text_field_tag("stock_logs[][md_stock_amount]", stock_log.stock.actual_amount, id: "md_stock_amount_#{stock_log.id}",disabled: true ) %>
        </td>
        <td>
          <%= text_field_tag("stock_logs[][md_amount]", stock_log.amount, id: "md_amount_#{stock_log.id}") %>
        </td>
        <td>
          <%= text_field_tag("stock_logs[][md_shelf_id]", stock_log.pick_in.stock.shelf.shelf_code, id: "md_shelf_#{stock_log.id}", 'data-autocomplete' => "/shelves/autocomplete_shelf_shelf_code")%>
          <%= hidden_field_tag("stock_logs[][md_shelf_id]", stock_log.pick_in.stock.shelf.id, id: "md_shelf_#{stock_log.id}") %>
        </td>
        <% if @move_stock.status != "moved" %>
        <td>
          <%=link_to t('.destroy', :default => t("helpers.links.destroy")), "javascript:void(0);", onclick: 'del_move_stock_dtl(this)', id: "md_del_#{stock_log.id}", :class => 'btn btn-xs btn-danger' if can? :destroy, stock_log%>
        </td>
        <% end -%>
        
      </tr>

     <% end %>
    <% end %>
  </tbody>
</table>
</div>

<div style="float:right">
    <% if @move_stock.status != "moved" %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                   "javascript:void(0)", onclick: "add_move_stock_dtl()",
                    :class => 'btn btn-primary' %>
    <% end %>
</div>