<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : t(:title, default: 'SHPOST ROR FRAMEWORKS') %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <![endif]-->

      <%= stylesheet_link_tag "application", :media => "all" %>

      <!-- For third-generation iPad with high-resolution Retina display: -->
      <!-- Size should be 144 x 144 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

      <!-- For iPhone with high-resolution Retina display: -->
      <!-- Size should be 114 x 114 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

      <!-- For first- and second-generation iPad: -->
      <!-- Size should be 72 x 72 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

      <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
      <!-- Size should be 57 x 57 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

      <!-- For all other devices -->
      <!-- Size should be 32 x 32 pixels -->
      <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

      <%= javascript_include_tag "application" %>
    </head>
    <body>
      <% if user_signed_in? %>
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= t(:title, default: 'SHPOST ROR FRAMEWORKS') %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% 
              m = t(:menu)
              m.keys.each do |k| 
                if m[k][:needrole].blank? || can?(m[k][:needrole][:can], m[k][:needrole][:role].is_a?(Symbol) ? Module.const_get(m[k][:needrole][:role]) : m[k][:needrole][:role]) 
            %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= m[k][:name] %><b class="caret"></b></a>
              <% 
                sm = m[k][:submenu]
                if !sm.blank? 
              %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <% 
                  sm.keys.each do |sk| 
                    if sm[sk][:needrole].blank? || can?(sm[sk][:needrole][:can], sm[sk][:needrole][:role].is_a?(Symbol) ? Module.const_get(sm[sk][:needrole][:role]) : sm[sk][:needrole][:role]) 
                %>
                <li><%= link_to sm[sk][:name], sm[sk][:link] %></li>
                <% 
                    end 
                  end 
                %>
              </ul>
              <% end %>
            </li>
            <% 
                end 
              end 
            %>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">当前用户:  <%= current_user.name %><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to t('user_navigation.update_self'), edit_user_path(current_user.id), :method => :get %></li>
                  <li><%= link_to t('devise.navigation.sign_out'), destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
              <% if !session[:current_storage].nil? %>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">当前仓库:  <%= session[:current_storage].name %><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <% current_user.storages.each do |s| %>
                    <li>
                      <%= link_to s.name, "/units/#{s.unit.id}/storages/#{s.id}/change", method: :get %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% else %>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">当前仓库:  none </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </nav>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div><!--/row-->
    <footer>
      <p>&copy; Company 2014 上海市邮政公司信息技术局</p>
    </footer>

  </div> <!-- /container -->

</body>
</html>
